<!DOCTYPE html>
<html>
  <head>
      <title>Weather Data</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Weather Data Application</h1>
        <p class="lead">Enter City or Pincode.</p>
        <hr class="my-4">
        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <input type="text" id="data_input" name="city" required  class="form-control" />
              </div>
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary" style="float">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <br>
      {% if response %}
        <p>City: {{ response.city }}</p>
        <p>Temperature: {{ response.temp }}</p>
      {% endif %}
  </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>